<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Some Website</title>
	</head>
	<body>
		<!-- {{> header}} -->

    <!-- <p>error</p> -->
    <!-- <p>
    <video autoplay="autoplay" loop="loop" muted="muted" preload="auto" webkit-playsinline=""><source src="//i.imgur.com/aSEelMd.mp4" type="video/mp4" /></video>
    </p> -->
    <!-- <img src="http://i.stack.imgur.com/SBv4T.gif" title="this slowpoke moves" /> -->
    <img src="https://media1.tenor.com/images/138aed5d9c9056183cd874bc8dd31979/tenor.gif" title="ah ah ah" />

    <!-- https://media1.tenor.com/images/138aed5d9c9056183cd874bc8dd31979/tenor.gif?itemid=9628120 -->

		<!-- {{> footer}} -->
	</body>
</html>
