<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Some Website</title>
	</head>
	<body>
    <img src="https://images.zola.com/82ad2e88-09e7-43c5-9120-59f240da448b?w=800&h=800" title="hi honey" />
	</body>
</html>
